@using SkillSale.Enums
@using SkillSale.Extensions
@{
    ViewData["Title"] = "Главная";
}

<div class="hero-wrap img" style="background-image: url(../profilePictures/female.webp);">
	<div class="overlay"></div>
	<div class="container">
		<div class="row d-md-flex no-gutters slider-text align-items-center justify-content-center">
			<div class="col-md-10 d-flex align-items-center ftco-animate">
				<div class="text text-center pt-5 mt-md-5">
					<p class="mb-4">Найти работу, трудоустройство и возможности карьерного роста</p>
					<h1 class="mb-5">Самый простой способ получить новую работу</h1>
					<div class="ftco-counter ftco-no-pt ftco-no-pb">
						<div class="row">
							<div class="col-md-4 d-flex justify-content-center counter-wrap ftco-animate">
								<div class="block-18">
									<div class="text d-flex">
										<div class="icon mr-2">
											<span class="flaticon-worldwide"></span>
										</div>
										<div class="desc text-left">
											<strong class="number" data-number="7">0</strong>
											<span>Областей</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 d-flex justify-content-center counter-wrap ftco-animate">
								<div class="block-18 text-center">
									<div class="text d-flex">
										<div class="icon mr-2">
											<span class="flaticon-visitor"></span>
										</div>
										<div class="desc text-left">
											<strong class="number" data-number="450">0</strong>
											<span>Компаний</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4 d-flex justify-content-center counter-wrap ftco-animate">
								<div class="block-18 text-center">
									<div class="text d-flex">
										<div class="icon mr-2">
											<span class="flaticon-resume"></span>
										</div>
										<div class="desc text-left">
											<strong class="number" data-number="6000">0</strong>
											<span>Cотрудников</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>					
				</div>
			</div>
		</div>
	</div>
</div>

<section class="ftco-section services-section">
	<div class="container">
		<div class="row d-flex">
			<div class="col-md-3 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services d-block">
					<div class="icon"><span class="flaticon-resume"></span></div>
					<div class="media-body">
						<h3 class="heading mb-3">Сотни вакансий</h3>
					</div>
				</div>
			</div>
			<div class="col-md-3 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services d-block">
					<div class="icon"><span class="flaticon-team"></span></div>
					<div class="media-body">
						<h3 class="heading mb-3">Простой менеджмент</h3>
					</div>
				</div>
			</div>
			<div class="col-md-3 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services d-block">
					<div class="icon"><span class="flaticon-career"></span></div>
					<div class="media-body">
						<h3 class="heading mb-3">Топовые компании</h3>
					</div>
				</div>
			</div>
			<div class="col-md-3 d-flex align-self-stretch ftco-animate">
				<div class="media block-6 services d-block">
					<div class="icon"><span class="flaticon-employees"></span></div>
					<div class="media-body">
						<h3 class="heading mb-3">Лучшие кандидаты</h3>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<section class="ftco-section ftco-candidates bg-primary">
	<div class="container">
		<div class="row justify-content-center pb-3">
			<div class="col-md-10 heading-section heading-section-white text-center ftco-animate">
				<span class="subheading">Candidates</span>
				<h2 class="mb-4">Latest Candidates</h2>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-12 ftco-animate">
				<div class="carousel-candidates owl-carousel">
					<div class="item">
						<a class="team text-center">
							<div class="img" style="background-image: url(images/person_1.jpg);"></div>
							<h2>Danica Lewis</h2>
							<span class="position">Western City, UK</span>
						</a>
					</div>
					<div class="item">
						<a class="team text-center">
							<div class="img" style="background-image: url(images/person_2.jpg);"></div>
							<h2>Nicole Simon</h2>
							<span class="position">Western City, UK</span>
						</a>
					</div>
					<div class="item">
						<a class="team text-center">
							<div class="img" style="background-image: url(images/person_3.jpg);"></div>
							<h2>Cloe Meyer</h2>
							<span class="position">Western City, UK</span>
						</a>
					</div>
					<div class="item">
						<a class="team text-center">
							<div class="img" style="background-image: url(images/person_4.jpg);"></div>
							<h2>Rachel Clinton</h2>
							<span class="position">Western City, UK</span>
						</a>
					</div>
					<div class="item">
						<a class="team text-center">
							<div class="img" style="background-image: url(images/person_5.jpg);"></div>
							<h2>Dave Buff</h2>
							<span class="position">Western City, UK</span>
						</a>
					</div>
					<div class="item">
						<a class="team text-center">
							<div class="img" style="background-image: url(images/person_6.jpg);"></div>
							<h2>Dave Buff</h2>
							<span class="position">Western City, UK</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
