@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Забыли пароль";
}


<head>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/registerStyles.css" rel="stylesheet"></link>
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
</head>

<div class="container d-flex justify-content-center align-items-center h-100">
    <div class="register-form">
        <div class="form-signin" method="post">
            <h2>Забыли пароль.</h2>
            <div class="form-floating mb-3">
                <p>
                    Проверьте ваш электронный ящик, для сброса пароля.
                </p>               
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
