@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Забыли пароль?";
}

<head>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/registerStyles.css" rel="stylesheet"></link>
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
</head>

<div class="container d-flex justify-content-center align-items-center h-100">
    <div class="register-form">
        <form class="form-signin" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

            <h2>Введите ваш email.</h2>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                <label asp-for="Input.Email" class="form-label"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <button id="registerSubmit" class="btn btn-lg btn-primary btn-block" type="submit">Сбросить пароль</button>

        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
