@page
@model LoginModel

@{
    ViewData["Title"] = "Вход";
    Layout = null;
}


<head>
    <title>@ViewData["Title"]</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/loginStyles.css" rel="stylesheet">
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />
 
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center h-100">
        <div class="login-form position-relative">
            @* <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button> *@
            <img src="https://getbootstrap.com/docs/4.5/assets/brand/bootstrap-solid.svg" alt="Bootstrap logo" class="mb-4 mx-auto d-block" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal text-center">Вход в аккаунт</h1>
            <form class="form-signin" id="account" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-group">
                    <label for="inputEmail">Email</label>
                    <input asp-for="Input.Email" type="email" id="inputEmail" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" required autofocus>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label for="inputPassword">Пароль</label>
                    <div class="input-group">
                        <input asp-for="Input.Password" type="password" id="inputPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Пароль" required>
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary toggle-password" type="button" data-target="#inputPassword">
                                <i class="bi bi-eye-slash" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="form-check">
                        <input class="form-check-input" asp-for="Input.RememberMe" id="rememberMe" />
                        <label class="form-check-label" for="rememberMe">Запомнить меня?</label>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Войти</button>
                </div>
                <div class="text-center">
                    <a id="forgot-password" asp-page="./ForgotPassword" class="btn btn-link">Забыли пароль?</a>
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-link">Регистрация</a>
                </div>
                
            </form>
        </div>
    </div>
</body>


<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/passwordshoweye.js"></script>">


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
