@page
@model LoginWith2faModel
@{
    ViewData["Title"] = "Двухфакторная аутентификация";
}

<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/deleteStyles.css" rel="stylesheet"></link>
</head>
<body>
    <div class="container d-flex justify-content-center align-items-center h-100">
        <div class="confirmation-form">

            <h4>@ViewData["Title"]</h4>
            <p class=" mb-3 font-weight-normal">
                Ваш аккаунт защищен приложением-аутентификатором. Введите ваш код ниже.</p>
            <div>
                <div class="form-group">
                    <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
                        <input asp-for="RememberMe" type="hidden" />
                        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                        <div class="form-floating mb-3">
                            <input asp-for="Input.TwoFactorCode" class="form-control" autocomplete="off" />
                            <label asp-for="Input.TwoFactorCode" class="form-label">Код</label>
                            <span asp-validation-for="Input.TwoFactorCode" class="text-danger"></span>
                        </div>
                        <div class="checkbox mb-3">
                            <label asp-for="Input.RememberMachine" class="form-label">
                                <input asp-for="Input.RememberMachine" />
                                Запомнить браузер?
                            </label>
                        </div>

                        <p>
                            Нет доступа к аутентификатору? Вы можете
                            <a id="recovery-code-login" asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl">войти при помощи ключей восстановления</a>.
                        </p>
                        <div>
                            <button type="submit" class="w-100 btn btn-lg btn-primary">Войти</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}