@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Персональные данные";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-8">
        <p>В вашей учетной записи содержатся личные данные, которые вы нам предоставили. На этой странице вы можете загрузить или удалить эти данные.</p>
        <p>
            <strong>Удаление этих данных приведет к окончательному удалению вашей учетной записи, и восстановить ее будет невозможно.</strong>
        </p>
        <div class="d-inline-flex align-content-center">
            <form id="download-data" asp-page="DownloadPersonalData" method="post">
                <button class="btn btn-primary mr-2" type="submit">Скачать</button>
            </form>
            <p>
                <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Удалить</a>
            </p>

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
